html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

h1 {
  font-weight: normal;
  font-size: 42px;
}

h2 {
  font-weight: normal;
}

a {
  color: black;
}

.questions {
  max-width: 1200px;
  margin: auto;
}

.questions ul{
  background: none;
  list-style: none;
  margin: 0;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  padding: 8px;
}

.forum-body ul {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.forum-body ul:last-child{
  border-bottom: 1px solid gray;
}

.forum-body ul:nth-child(even) {
  background-color: #efefef;
}

.forum-body ul:nth-child(odd) {
  background-color: #fff;
}

.title {
  float: left;
  text-align: left;
  width: 55%;
}

.username {
  float: left;
  text-align: center;
  width: 13%;
}

.answers {
  float: left;
  text-align: center;
  width: 10%;
}

.created {
  text-align: center;
  float: left;
  width: 22%;
}

.forum-header {
  clear: both;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  background-color: lightgray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
}

.forum-question {
  text-align: left;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  min-height: 4em;
  margin-bottom: 0.5em;
}

.forum-answer {
  text-align: left;
  min-height: 3em;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 0.5em;
}

.forum-body {
  clear: both;
}

.forum {
  overflow: hidden;
}

.clear     { clear: both; }

.question-header {
  font-size: 0.8em;
  background-color: black;
  color: white;
}

.answer-header {
  font-size: 0.8em;
  background-color: #444;
  color: white;
}

.question-header .username {
  float: right;
}

.answer-header .username {
  float: right;
}

.answer-header .created {
  float: left;
}

.answer-header .votes {
  float: right;
}

.answer-topic {
  clear: both;
  font-weight: bold;
  padding: 1px;
  text-align: left;
  font-weight: bold;
  background-color: lightgray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  font-size: 0.9em;
}

.answer-text {
  width: 25em;
  height: 2em;
  margin-bottom: 0.5em;
}

.answer-textarea {
  width: 25em;
  height: 5em;
  resize: none;
}

.answer-button {
  outline: none;
  border: 1px solid black;
  padding: 3px 5px 3px 5px;
  margin-bottom: 1em;
}

header {
  background-color: #666;
  color: white;
  height: 6em;
}

header h1 {
  line-height: 2em;
}

menu {
  background-color: #999;
  height: 2em;
  color: #fff;
}

menu a {
  line-height: 2em;
  color: #fff;
}

.votebutton, .editbutton {
  float: right;
  border: none;
  background: transparent;
  text-decoration: underline;
  margin-top: 1em;
}

.votebutton {
  float: left
}

.votebutton:hover, .editbutton:hover {
  text-decoration: none;
  cursor: pointer;
}

.txtEdit {
  width: 100%;
  resize: none;
  font-size: 100%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.txtEditArea {
  width: 99.5%;
  min-height: 6em;
  font-size: 1em;
  resize: none;
  font-family: 'Open Sans', sans-serif;
}

.question-title {
  float: left;
  text-align: left;
  width: 100%;
}